Composite.cmdBar {
	background-image: gradient(linear, left top, left bottom, from(#FDFDFD),
		color-stop(45%, #D0D7E1), color-stop(46%, #C3CAD4), to(#E8EBF0) );
}

Composite.transparent {
	background-color: transparent;
}

Label.transparent {
	background-color: transparent;
}

/* Group container for the Command bar*/
Composite.cmdGroupFrame {
	border: 1px solid #C8C8C8;
	border-radius: 6px;
	background-image: gradient(linear, left top, left bottom, from(#F7F8FA),
	color-stop(45%, #D0D7E1), color-stop(46%, #C2CAD5), to(#DCE1E7) );
}

Composite.cmdGroupFrame:hover {
	background-image: gradient(linear, left top, left bottom, from(#FFFFFF),
	color-stop(45%, #D4DAE6), color-stop(46%, #D4DAE6), to(#EDF1F8) );
}

/* Group container for the popup menu*/
Composite.cmdGroupFrameMenu {
	border: 1px solid #C8C8C8;
	border-radius: 6px;
	background-image: gradient(linear, left top, left bottom, from(#FDFDFD),
		color-stop(45%, #D0D7E1), color-stop(46%, #C3CAD4), to(#E8EBF0) );
}

Composite.cmdGroupFrameMenu:hover {
	background-image: gradient(linear, left top, left bottom, from(#FFFFFF),
	color-stop(45%, #E1E8F2), color-stop(46%, #D4DAE6), to(#EDF1F8) );
}


Label.cmdGroupLabel {
  font:12px 'Segoe UI';
  background-color: #DEE3E7;
  color: inherit;

  border: 1px solid #DEE3E7;
  border-radius: 4px;
}

/*
Label.cmdGroupLabel:hover {
  background-color: #E7EAED;
}
*/

Button[PUSH].cmdSmall {
	background-color: transparent;
	font:12px 'Segoe UI';
	border: none;
	spacing: 6px;
}

Button[PUSH].cmdSmall:hover {
	border: 1px solid #C8C8C8;
	border-radius: 4px;
	background-image: gradient(linear, left top, left bottom, from(#ffffff),
		color-stop(49%, #FFECAC), color-stop(50%, #FFDA59), to(#FFFCDF) );
}

Button[PUSH].cmdSmall:pressed {
	border: 1px solid #A78E66;
	border-radius: 4px;
	background-image: gradient(linear, left top, left bottom, from(#EAD1B2),
		color-stop(49%, #FCD38A), color-stop(50%, #FBC05A), to(#FDE79B) );
  	padding: 5px 6px;
}


Button[PUSH].cmdCompactBtn {
	background-color: transparent;
	font:12px 'Segoe UI';
	border: none;
	spacing: 6px;
}

Button[PUSH].cmdCompactBtn:hover {
	/* No border (transparent)*/
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: gradient(linear, left top, left bottom, from(#ffffff),
	color-stop(49%, #FFECAC), color-stop(50%, #FFDA59), to(#FFFCDF) );
}

Button[PUSH].cmdCompactBtn:pressed {
	/* No border */
	background-image: gradient(linear, left top, left bottom, from(#EAD1B2),
		color-stop(49%, #FCD38A), color-stop(50%, #FBC05A), to(#FDE79B) );
  	padding: 5px 6px;
}


/* Popup shell that imitates the Commandbar menu */
Shell.cmdMenuShell {
  border: 0px;
  background-color: transparent;
  
}
 
 
 
/**
 TESTING STUFF

*/
Button[PUSH].animation {
  	background-color: rgb( 12, 227, 243 );
	animation: hoverIn 200ms linear, hoverOut 500ms ease-out;
}

Button[PUSH].animationBorder {
  	background-color: rgb( 12, 227, 243 );
	animation: hoverIn 200ms linear, hoverOut 500ms ease-out;
	border: 1px solid #C8C8C8;
	border-radius: 6px;
}

Button[PUSH].animationBackground {
  	background-color: rgb( 12, 227, 243 );
	animation: hoverIn 200ms linear, hoverOut 500ms ease-out;
}

Button[PUSH].animationBackground:hover {
  	background-color: rgb( 12, 245, 245 );
}

Button[PUSH].animationBackgroundImage {
	animation: hoverIn 200ms linear, hoverOut 500ms ease-out;
}

Button[PUSH].animationBackgroundImage:hover {
	background-image: gradient(linear, left top, left bottom, from(#ffffff),
	color-stop(49%, #FFECAC), color-stop(50%, #FFDA59), to(#FFFCDF) );
}