<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.eclipse.rap.rwt.commandbar.themable.CommandBar"
            id="org.eclipse.rap.rwt.commandbar.themable.CommandBar"
            name="CommandBar">
      </widget>
   </extension>

</plugin>
