<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.rwt.commandbar.Application"
            parameter="hello"
            id="org.eclipse.rap.rwt.commandbar.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/commandbar.css"
            id="org.eclipse.rap.rwt.commandbar.theme"
            name="Commandbar Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.eclipse.rap.rwt.commandbar.branding"
            servletName="rap"
            themeId="org.eclipse.rap.rwt.commandbar.theme">
      </branding>
   </extension>

</plugin>
